.login_card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
    width: 860px;
    height: 480px;
    background-color: aliceblue;
    
}

.login_input {
    position: relative;
    border-radius: 15px;
    width: 800px;
    height: 32px;
    font-size: 18px;
}

.login_title {

}

.login_comment {
    
}