.navigation_bar {
    z-index: 1;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 52px;
    background-color: #13264E;
}

.right_line {
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
    text-align: center;
}

.right_line li {
    position: relative;
    display: inline-block;
    margin: 0px 20px;
    padding: 0;
    /* top으로 이동시키고 line-height로 세로에서 중앙 배치 */
    top: 25%;
    line-height: 100%;
}

.right_line li .nav-link {
    position: relative;
    width: 180px;
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.right_line li .nav-linkclick {
    text-decoration: none;
    color: #558BCF;
}

.right_line li .nav-link:hover {
    font-size: larger;
    font-weight: bold;
}