* {
    box-sizing: border-box;
}

.colored-background {
    background-color: #F7F3E9;
}

.flex-card {
    width: 800px;
    height: 560px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border: 1px solid gray;
    border-radius: 15px;

}

.write-image {
    justify-content: left;
    width: fit-content;
    height: fit-content;
    background-size: contain;

}

.left-box {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box {
    width: 50%;
    height: 100%;
    float: right;
    padding: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box > section {
    padding: 15px;
}

.right-box > section > * {
    align-items: center;
}

.right-box input {
    margin: 0.5rem 0;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    padding: 0.75em;
    background-color: #F9E19F;
}

.right-box input:focus {
    border: none;
    outline: none;
}

.contents {
    margin: 0.5rem 0;
    text-align: start;
    background-color: #F9E19F;
    border-radius: 10px;
    min-height: 5em;
    padding: 0.5em;
    border: none;
}
.contents > * {
    border-bottom: 1px solid #ffebb4;
}

.contents:focus {
    outline: none;
    border: none;
}

[contenteditable=true]:empty::before {
    content: attr(placeholder);
    display: block;
    color: gray;
}

.send-button {
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 36px;
    font-weight: 700;
    height: 54px;
    font-size: 16px;
    padding-inline: 20px;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;
    transition: all .25s ease-in-out;
    z-index: 1;
    border: none;
}

.send-button:is(:hover, :focus)::before {
    transform: translateX(0%);
}

.send-button .text {
    white-space: nowrap;
    line-height: 1.2;
    padding-inline-end: 44px;
    z-index: 2;
}

.send-button::after {
    content: '';
    position: absolute;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    border: 1px solid #FFB400;
    border-radius: 35px;
    z-index: 2;
}

.send-button::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFB400;
    z-index: 1;
    left: -2px;
    transform: translateX(90%);
    transition: all .3s ease-out;
}

.send-button .icon {
    display: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 54px;
    height: 54px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #FFb400;
    z-index: 2;
}