.sidenav {
    z-index: 1;
    right: 0;
    position: fixed;
    height: 100%;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
}

.sideNavBar > .open-button {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    border: 0;
    outline: 0;
    background-color: transparent;
}

.sidenav > .close-button {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    border: 0;
    outline: 0;
    background-color: transparent;
}

.items {
    list-style: none;
    margin-top: 50px;
    padding-left: 0;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    
}

.items li {
    margin-bottom: 15px;
}
.sidenav a {
    text-decoration: none;
    color: inherit;
}

