::-webkit-scrollbar {
    display: none;
}

.dark_blue_background {
    background-color: #0d0729;
}

.blue_background {
    background-color: #242842;
}

.textarea_background {
    background-color: #3f4466;
}

.seashell_background {
    background-color: #F7CBC2;
}