body {
    margin: 0;
    box-sizing: border-box;
}

.flex-sort {
    display: flex;
    background-size: contain;
}

.sort-start {
    justify-content: flex-start;
}

.sort-end {
    justify-content: flex-end;
}

.sort-center {
    justify-content: center;
}

.flex-sort .image-box {
    margin: 5px 10px;
}

.image-box {
    background-position: 50% 50%;
    background-size: contain;
    position: relative;
}

.orange-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 144, 41, 0.5);
    transition: all 0.5s;
}

.blue-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(109, 180, 255, 0.5);
    transition: all 5s;
}

.font-box {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: inline-block;
}

.line {
    margin: 2px 0;
    position: relative;
    height: 0;
    width: 800px;
    border: 1px solid white;
}

.title {
    font-weight: bold;
    font-size: 56px;
    margin: 5px;
}

.description {
    max-width: 40rem;
    font-size: large;
    font-weight: normal;
    margin: 5px;
}

.center-title {
    font-size: 2em;
    font-weight: normal;
    margin: 5px;
    text-align: center;
}

.start-button {
    position: relative;
    background-color: transparent;
    width: 5rem;
    height: 2rem;
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    color: white;
    margin-left: 4rem;
}