body {
    margin: 0;
    background-color: rgb(227, 227, 227);
    box-sizing: border-box;
}

.mainboard {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cardBoard {
    position: relative;
    width: 20rem;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 15px;
    padding-bottom: 15px;
    margin: 0;
}

.board-line {
    margin: 0.5em 0;
    width: 15rem;
    height: 0;
    border: 1px solid gray;
}

.board-image {
    position: relative;
    width: auto;
    min-height: 12rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.board-title {
    margin: 0;
    margin-left: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.board-content {
    margin: 0 0.5rem;
    font-size: 12px;
    color: gray;
}

.profile-field {
    position: relative;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    padding: 5px;   
}

/* .profile-field > * {
    border: 1px solid red;
} */

.right-field {
    margin-right: 5px;
    position: absolute;
    padding: 0px;
    right: 0;
    display: flex;
    float: inline-start;
    align-items: baseline;
    justify-content: baseline;
}

.author-profile {
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    border: 1px solid gray;
    background-color: #f3f3f3;
}

.user-icon {
    position: relative;
}

.joinner {
    position: relative;
}

.first-line {
    z-index: 1;
    position: relative;
    border: 1px solid red;
    padding: 1rem 1rem;
    padding-top: 3rem;
}

.second-line {
    z-index: 1;
    position: relative;
    border: 1px sold red;
    padding: 1rem 1rem;
    padding-top: 5rem;
}

.first-line > * {
    margin: 1rem 0;
}