@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background-color: white;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    width: 20rem;
    display: block;
}

.article-body {
    padding: 24px;
}

.article-img {
    position: relative;
    width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

/* 타이틀 */
.article h2 {
    margin: 0 0 0 0;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

.article p {
    color: #878787;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 2.5em;
}

.article .line {
    margin: 0;
    width: 12rem;
    border-bottom: 1px solid #28666e;

}

figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
}

.article a:focus {
    outline: 1px dotted #28666e;
}

.arrow-icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

.article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.read-more {
    padding: 0px 10px 0px 10px;
}

